[submodule "greendoge-blockchain-gui"]
	path = greendoge-blockchain-gui
	url = https://github.com/GreenDoge-Network/greendoge-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca/
[submodule "Submodules"]
	path = Submodules
	url = https://github.com/GreenDoge-Network/greendoge-blockchain-gui.git
[submodule "Submodulesmozilla-ca"]
	path = Submodulesmozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "Submodulesgreendoge-blockchain-gui"]
	path = Submodulesgreendoge-blockchain-gui
	url = https://github.com/GreenDoge-Network/greendoge-blockchain-gui.git
